@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 4000px;
  background-color: #2b2d42;
  color: #ffffff;
}
/* Navbar  */
nav{
  background-color:#2b2d42;
  box-shadow: 0px 0px 1px rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 7%;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

nav .brand a{
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
}
nav .brand span{
  font-size: 20px;
  color: #ef233c;
  font-weight: 200;
}
nav .nav-menu{
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}
nav .nav-menu .menu-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-list li{
  margin: 24px;
  list-style: none;
}
.menu-list li a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 200;
  font-size: 16px;
  transition: all 0.2s linear;
}
.menu-list li a:hover{
  color: #ef223c;
}
.menu-list li a::after{
  content: '';
  display: block;
  padding-bottom: 5px;
  border-bottom: 2px solid #d90429;
  transform: scale(0);
  transition: 0.3s linear;
}
.menu-list li a:hover::after{
  transform: scale(0.5);
}

nav .nav-menu .button{
  background: #d90429;
  border: none;
  padding: 8px 30px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: medium;
  cursor: pointer;
  /* margin-left: 24px; */
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
nav .nav-menu .button:hover{
  background: #f84b68;
}

nav .hamburger-menu{
  color: #ffffff;
  font-size: 32px;
  display: none;
}
/* End navbar  */

/* Section hero Start */
.hero{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,  #2b2d42 10%, rgba(255,255,255,0) 25%);
}

.hero .content{
  padding: 25px 7%;
  /* max-width: 80%; */
  z-index: 2;
}

.hero .content h5{
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
} 
.hero .content h1{
  color: #ffffff;
  font-size: 42px;
  font-weight: 900;
  line-height: 60px;
  text-shadow: 1px 1px 3px #3a3a3a;
}
.hero .content h1 span{
  color: #d90629;
  font-size: 42px;
  font-weight: 400;
}
.hero .content p{
  color: #ffffff;
}
.hero .content p span{
  color: #d90429;
  font-weight: 900;
}
.hero .content .button{
  background: #d90429;
  border: none;
  padding: 8px 30px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: medium;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}
.hero .content .button:hover{
   background: #f84b68;
}

/* Section hero End */

/* About section */
.about{
  padding: 100px 7% 30px;
}
.about h2{
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 30px;
}
.about h2 span{
  color: #d90429;
  font-weight: 700;
}

.about .row{
  display: flex;
}
.about .row .about-img{
  flex:1 1 45rem;
}
.about .row .about-img img{
  width: 100%;
}
.about .row .content{
  flex:1 1 35rem;
  padding: 0 20px;
}
.about .row .content h3{
  font-size: 18px;
  font-weight: 500;
  color: #d90429;
  margin-bottom: 16px;
}
.about .row .content p{
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  /* color: #d90429; */
  margin-bottom: 16px;
}

/* About section  End*/



/* Media queries  */
/* for Laptop  */
@media (max-width: 1366px){
}
/* for Tablet  */
@media (max-width: 768px){
  html{
    font-size: 90%;
  }
  nav .hamburger-menu{
    display: inline-block;
  }
  nav .nav-menu{
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 300px;
    height: 100vh;
    transition: 0.3s;
  }
  nav .nav-menu.active{
    right: 0;
  }

  nav .nav-menu .menu-list{
    display: block;
  }
  .menu-list li{
    margin: 24px;
    list-style: none;
  }
  .menu-list li a{
    text-decoration: none;
    color: #2b2d42;
  }
  .menu-list li a::after{
    transform-origin: 0 0;
  }
  .menu-list li a:hover::after{
    transform: scaleX(0.2);
  }
  nav .nav-menu .button{
   margin-left: 20px;
 }
 .about .row{
  flex-wrap: wrap;
 }

 .about .row .content{
  margin-top: 16px;
  padding: 0;
 }

}
/* for Mobile  */
@media (max-width: 450px){
  html{
    font-size: 70%;
  }
}